body {
    padding: 0;
}
  
#map {
    margin: 15vw;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.marker {
    background-color: red;
    background-size: cover;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    cursor: pointer;
}

.mapboxgl-ctrl-top-right {
    position: fixed !important;
}

.marker.metro {
    background-color: green;
}

.marker.clinic {
    background-color: blue;
}

.marker.school {
    background-color: pink;
}

.marker.park {
    background-color: purple;
}

.marker.grocery {
    background-color: orange;
}

.marker.gym{
    background-color: cyan;
}

.mapboxgl-popup {
    max-width: 200px;
  }
  
.mapboxgl-popup-content {
text-align: center;
font-family: 'Open Sans', sans-serif;
}